body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* ::-webkit-scrollbar-track {
  margin: "10px";
} */

::-webkit-scrollbar-thumb {
  background-color: red;
  border: 3px solid transparent;
  border-radius: 10px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
